<!DOCTYPE html>
<html>

<head>
    <title>User Info</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>User Information</h1>
    <p>Username <%= user %>
    </p>
</body>

</html>