<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>Welcome, <%= user %>!</h1>
    <p>Email: <%= email %></p>
    <% if (photo) { %>
        <img src="<%= photo %>" alt="Profile Photo">
    <% } else { %>
        <p>No profile photo uploaded.</p>
    <% } %>
</body>
</html>
